body {
  font-family: Arial, Helvetica, sans-serif;
}

* h1 {
  font-size: 40px;
}

* p {
  font-size: 20px;
}

nav {
  overflow: hidden;
  background-color: #324376;
  color: white;
}

.nav-left {
  display: flex;
  float: left;
}

.nav-left h1 {
  float: none;
  transform: translate(-50%, -50%);
   position: absolute;
  left: 50%;
  font-size: 40px;
  display: flex;
}

.nav-left img {
  height: 60px;
  width: auto;
  padding: 10px;
}

.logo {
  float: left;
}

.nav-right {
  float: right;
  display: flex;
  padding: 15px;
  margin: 10px;
  }

.nav-right a {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.active {
  background-color: white;
  border-radius: 15px;
  margin-bottom: -50px;
  margin-top: 2px;
}
.active b {
  color: black;
  margin: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
}

.container {
  top: 50px;
  height: 700px;
  width: 1600px;
  position: relative;
  display: flex;
  left: 20%;
}

.stor-slide {
  border: 2px solid #707070;
  border-radius: 10px;
  height: 600px;
  width: 1000px;
  text-align: center;
}

.sslide{
  display: none;
}

.sslide img {
  width: 1000px;
  height: 600px;
}

.forrige,
.næste {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.næste {
  right: 37%;
  border-radius: 3px 0 0 3px;
}

.forrige:hover,
.næste:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.række {
  margin: 30px;
  border: 3px solid #707070;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  }

.række:after {
    content: "";
    display: table;
    clear: both;
}

.kolonne {
  display:flex;
  float: left;
  width: 200px;
  height: 100px;
}

.kolonne img {
  width: 200px;
  height: 100px;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.negative-space {
  height: 250px;
  width: auto;
}

.negative-space img {
  width: 1920px;
}

.bliv-medlem-knap {
  position: relative;
  background-color: #9AB87A;
  color: white;
  width: 300px;
  border-radius: 10px;
  margin-left: 14%;
  margin-top: -20px;
  text-align: center;
}

.medlem-info-boks {
  position: relative;
  margin-left: 17%;
}

.punkter {
  display: flex;
  color: #324376;
  margin-top: 80px;
}

.tekst {
  float: left;
  margin-left: 17%;
  margin-top: 10%;
}

.billed {
  float: right;
  margin-left: 17%;
  justify-content: center;
}

.billed img {
  height: 500px;
  width: auto;
}

footer {
  background-color: #324376;
  width: auto;
  height: auto;
  text-align: center;
  margin: 20px;
  padding: 20px;
}

footer img {
  top: 10px;
  height: 50px;
  width: auto;
}

.foot-kolonne {
  display: flex;
  text-align: left;
  color: white;
}

.foot-række-kontakt {
  width: 600px;
  font-size: 20px;
}

.foot-række-kontakt h1 {
  text-align:  center;
}


.foot-række {
  margin-left: 11%;
  margin-right: 11%;
}
