.header-boks {
  background-color: #EBEBEB;
  color: #324376;
  height: 40vw;
  width: auto;
  background-image: url("../IMG/KLIENT/forsamling2.JPG");
  background-size: cover;
  opacity: 100%;
  }

  .header-boks h1 {
    padding-top: 18vw;
    text-align: center;
    color: white;
  }

  .header-boks h2 {
    text-align: center;
    color: white;
  }

.bestyrrelse-information {
  margin-top: -10vw;
  display: flex;
  margin-left: 2vw;
  margin-right: 2vw;
  text-align: center;
}

.bestyrrelse {
  display: flex;
  padding: 3vw;
  text-align: center;
}

.medlem img {
  width: 15vw;
  height: 15vw;
  object-fit: cover;
  border-radius: 50%;
}

.kontakt-oplysninger h1 {
  font-size: 2vw;
}

.kontakt-oplysninger pre {
  font-size: 1vw;
}

.kontakt-oplysninger img {
  width: 1vw;
  height: 1vw;
  border-radius: 0;
  margin-right: 0.2vw;
}

.kontakt-boks {
  width: 60vw;
  height: 40vw;
  background-color: #FFFFFF;
  text-align: center;
  border-radius: 2vw;
  margin-left: 20vw;
  margin-right: 10vw;
  border: 0.1vw solid #E4E4E4;
  border-bottom: 0.4vw solid  #E4E4E4;
  border-right: 0.4vw solid  #E4E4E4;
}

.kontakt-tekst textarea {
  width: 56vw;
  height: 34vw;
  border-radius: 1vw;
  border: 0.1px solid #E4E4E4;
  font-size: 1vw;
  font-family: Arial, Helvetica, sans-serif;
}

.titel-boks {
  position: relative;
  background-color: #E4E4E4;
  width: 25vw;
  height: 4vw;
  border-radius: 2vw;
  text-align:  center;
  margin-left: 24vw;
  margin-bottom: -1vw;
}

#knap {
  border-radius: 30px;
  color: #EAEAEA;
  padding: 2px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 35px;
  cursor: pointer;
  background-color: #9AB87A; 
  border: 3px solid #9AB87A; 
}
#knap h1 {
  font-size: 16px;
}
  .bekræft {
    display: none; 
    position: fixed; 
    padding-top: 200px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.6); 
  }

  .bekræft-indhold {
    border-radius: 30px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;    
  }
  .bekræft-indhold h1 {
    font-size: 20px;
  }


  .luk {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .luk:hover,
  .luk:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 400px){
  .header-boks {
    background-color: #EBEBEB;
    color: #324376;
    height: 280px;
    width: 365px;
    background-image: url("../IMG/KLIENT/forsamling2.JPG");
    background-size: cover;
    opacity: 100%;
  }

  .header-boks h1 {
    padding-top: 100px;
    text-align: center;
    color: white;
  }

  .header-boks h2 {
    text-align: center;
    color: white;
  }

  .bestyrrelse-information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -70px;
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
  }

  .bestyrrelse {
    display: flex;
    padding: 4%;
    text-align: center;
  }

  .medlem img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
  }

  .kontakt-oplysninger h1 {
    font-size: 15px;
  }


  .kontakt-oplysninger pre {
    font-size: 10px;
  }

  .kontakt-oplysninger img {
    width: 10px;
    height: 10px;
    border-radius: 0;
    margin-right: 5px;
  }

  .titel-boks {
    position: relative;
    background-color: #E4E4E4;
    width: 140px;
    height: 20px;
    border-radius: 60px;
    text-align:  center;
    margin-left: 20%;
    margin-bottom: -10px;
  }

  .titel-boks h1 {
    font-size: 15px;
  }

  .kontakt-boks {
    width: 300px;
    height: 100px;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 20px;
    margin-left: 10%;
    border: 1px solid #E4E4E4;
    border-bottom: 3px solid  #E4E4E4;
    border-right: 3px solid  #E4E4E4;
  }

  .kontakt-tekst textarea {
    width: 260px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #E4E4E4;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }

}

@media only screen and (max-width: 800px min-width: 401px){
  .header-boks {
    background-color: #EBEBEB;
    color: #324376;
    height: 400px;
    width: 780px;
    background-image: url("../IMG/KLIENT/forsamling2.JPG");
    background-size: cover;
    opacity: 100%;
  }

  .header-boks h1 {
    padding-top: 170px;
    text-align: center;
    color: white;
  }

  .header-boks h2 {
    text-align: center;
    color: white;
  }

  .bestyrrelse-information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -70px;
    display: flex;
    margin-left: 6%;
    margin-right: 6%;
    text-align: center;
  }

  .bestyrrelse {
    display: flex;
    padding: 4%;
    text-align: center;
  }

  .medlem img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }

  .kontakt-oplysninger h1 {
    font-size: 18px;
  }


  .kontakt-oplysninger pre {
    font-size: 12px;
  }

  .kontakt-oplysninger img {
    width: 10px;
    height: 10px;
    border-radius: 0;
    margin-right: 5px;
  }

  .titel-boks {
    position: relative;
    background-color: #E4E4E4;
    width: 160px;
    height: 20px;
    border-radius: 60px;
    text-align:  center;
    margin-left: 20%;
    margin-bottom: -10px;
  }

  .titel-boks h1 {
    font-size: 15px;
  }

  .kontakt-boks {
    width: 620px;
    height: 300px;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 20px;
    margin-left: 10%;
    border: 1px solid #E4E4E4;
    border-bottom: 3px solid  #E4E4E4;
    border-right: 3px solid  #E4E4E4;
  }

  .kontakt-tekst textarea {
    width: 580px;
    height: 260px;
    border-radius: 10px;
    border: 1px solid #E4E4E4;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }

}
*/
