.header-boks {
  background-color: #EBEBEB;
  color: #324376;
  height: 40vw;
  width: auto;
  background-image: url("../IMG/KLIENT/skulptur.JPG");
  background-size: cover;
  opacity: 100%;
  }

  .header-boks h1 {
    padding-top: 18vw;
    text-align: center;
    color: white;
  }

  .header-boks h2 {
    text-align: center;
    color: white;
  }

.information {
  display: flex;
  flex-direction:  column;
  margin-left: 12vw;
  margin-right: 12vw;
  width: 80vw;
}

.information p {
  font-size: 1.6vw;
}

@media only screen and (max-width: 400px) {
  .information {
    display: flex;
    flex-direction:  column;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 3vw;
    width: 80vw;
  }

  .information p {
    font-size: 2vw;
  }
}
