.header-boks {
  background-color: #EBEBEB;
  color: #324376;
  width: auto;
  height: 600px;
  }

.header-boks h1 {
  padding: 250px 0;
  text-align: center;
}

.program-tabs {
  height: 800px;
  width: auto;
  padding: 5px;
  margin-left: 17%;
  margin-right: 17%;
  text-align: center;
}

.tab button {
  width: 200px;
  height: 60px;
  background-color: #F3F3F3;
  color: #3D3D3D;
  margin: 30px;
  border-radius: 20px;
  border: 0px;
}

.gallery {
  border: 1px solid #ccc;
  float: left;
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3px;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}
