.header-boks {
  background-color: #EBEBEB;
  color: #324376;
  height: 40vw;
  width: auto;
  background-image: url("../IMG/KLIENT/folk.JPG");
  background-size: cover;
  }

.header-boks h1 {
  padding-top: 18vw;
  text-align: center;
  color: white;
  font-size: 3vw;
}

.header-boks h2 {
  text-align: center;
  color: white;
  font-size: 2vw;
}


#program-tab-events {
  height: 120vw;
  width: 70vw;
  padding: 0.5vw;
  padding-top: 5vw;
  display: block;
  margin-left: 17%;
  margin-right: 10%;
  text-align: center;
  background-color: #ffffff;
  border-radius: 20px;
  border: 2px solid #E4E4E4;
}

#program-tab-events h1 {
  font-size: 3vw;
  color: #324376;
}

.tab {
  margin-left: 20vw;
}

.tablinks {
  width: 15vw;
  height: 5vw;
  background-color: #9AB87A;
  color: #3D3D3D;
  margin: 1vw;
  border-radius: 1vw;
  border: 0px;
  font-size: 1.5vw;
  margin-bottom: -5vw; 
}

.tablinks:hover{

  background-color: #537246;
 color: white;

}

.tablinks.active {
  background-color: #214E34;
  color: #FFFFFF;
}

.gallery {
  border: 0.2vw solid #ccc;
  float: left;
  width: 16vw;
  height: 20vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.8vw;
  border-radius: 0.5vw;
  margin-left: 0.3vw;
  margin-top: 1vw;
  text-align: center;
  opacity: 80%;
}

.gallery:hover {

  opacity: 100%;

}




.gallery img {
  width: 16vw;
  height: 15vw;
  object-fit:  cover;
  object-position: 20% 10%;
  border-top-left-radius: 0.4vw;
  border-top-right-radius: 0.4vw;
}

/* Dette er CSS */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Dette er CSS */





.desc {
  padding: 0.3vw;
  text-align: center;
}
.desc p {
  font-size: 1vw;
}


@media only screen and (max-width: 400px) {
  .header-boks {
    background-color: #EBEBEB;
    color: #324376;
    height: 280px;
    width: 365px;
    background-image: url("../IMG/KLIENT/maratonsang.jpg");
    background-size: cover;
    opacity: 100%;
    }

  .header-boks h1 {
    padding-top: 100px;
    text-align: center;
    color: white;
  }

  .header-boks h2 {
    text-align: center;
    color: white;
  }

  #program-tab-events {
    height: 2760px;
    width: 340px;
    padding: 5px;
    padding-top: 20px;
    margin-left: 3%;
    margin-right: 18;
    text-align: center;
    background-color: #ffffff;
    border-radius: 15px;
    border: 2px solid #E4E4E4;
  }

  #program-tab-events h1 {
    font-size: 20px;
    color: #324376;
  }

  .tab {
    margin-left: 9%;
  }

  .tablinks {
    width: 80px;
    height: 40px;
    background-color: #9AB87A;
    color: #3D3D3D;
    margin: 8px;
    border-radius: 20px;
    border: 0px;
    font-size: 15px;
    margin-bottom: -190px;
  }

  .tablinks.active {
    background-color: #214E34;
    color: #FFFFFF;
  }

  .gallery {
    border: 1px solid #ccc;
    float: left;
    width: 150px;
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 15px;
    text-align: center;
  }

  .gallery:hover {
    border: 1px solid #777;
  }

  .gallery img {
    width: 150px;
    height: 120px;
    object-fit:  cover;
    object-position: 20% 10%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .desc {
    padding: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .desc p {
    font-size: 10px;
  }

}

@media only screen and (max-width: 800px min-width: 401px) {
  .header-boks {
    background-color: #EBEBEB;
    color: #324376;
    height: 400px;
    width: 780px;
    background-image: url("../IMG/KLIENT/maratonsang.jpg");
    background-size: cover;
    opacity: 100%;
    }

  .header-boks h1 {
    padding-top: 170px;
    text-align: center;
    color: white;
  }

  .header-boks h2 {
    text-align: center;
    color: white;
  }

  #program-tab-events {
    height: 1400px;
    width: 750px;
    padding: 5px;
    padding-top: 20px;
    margin-left: 1%;
    margin-right: 18;
    text-align: center;
    background-color: #ffffff;
    border-radius: 15px;
    border: 2px solid #E4E4E4;
  }

  #program-tab-events h1 {
    font-size: 25px;
    color: #324376;
  }

  .tab {
    margin-left: 12%;
  }

  .tablinks {
    width: 120px;
    height: 40px;
    background-color: #9AB87A;
    color: #3D3D3D;
    margin: 8px;
    border-radius: 20px;
    border: 0px;
    font-size: 15px;
    margin-bottom: -200px;
  }

  .tablinks.active {
    background-color: #214E34;
    color: #FFFFFF;
  }

  .gallery {
    border: 1px solid #ccc;
    float: left;
    width: 170px;
    height: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
  }

  .gallery:hover {
    border: 1px solid #777;
  }

  .gallery img {
    width: 170px;
    height: 180px;
    object-fit:  cover;
    object-position: 20% 10%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .desc {
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .desc p {
    font-size: 15px;
  }

}
*/
