* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

header {
  background-color: #214e32;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

nav {
  background-color: #9ab87a;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  height: 100%;
  width: 25%;
}

nav ul {
  list-style-type: none;
  padding: 5px;
  margin-top: 10px;
}

li a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 23px;
  color: white;
  display: block;
}

li {
  padding: 2%;
}

article {
  margin-left: 28%; /* Same as the width of the sidenav */
  font-size: 18px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

section::after {
  content: "";
  display: table;
  clear: both;
}
.logo img {
  border: 3px solid #00454E;
  border-radius: 10px;
}

.logo-stor {
  width: 45%;
  height: 45%;
}

.logo-lille {
  width: 45%;
  height: 45%;
}

.farve {
  display: flex;
  flex-wrap: wrap;
}

.color-1 {
  background-color: #324376;
  color: #EAEAEA;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 25px;
  text-align: center;
  width: 19%;
}

.color-2 {
  background-color: #9ab87a;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 25px;
  text-align: center;
  width: 19%;
}

.color-3 {
  background-color: #214e34;
  border: 5px solid black;
  color: #EAEAEA;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 25px;
  text-align: center;
  width: 19%;
}

.color-4 {
  background-color: #ffa62b;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 25px;
  text-align: center;
  width: 19%;
}

.color-5 {
  background-color: #dc851f;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 25px;
  text-align: center;
  width: 19%;
}

.button {
  border-radius: 10px;
  color: #EAEAEA;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
  .b1 {background-color: #9AB87A; border: 3px solid #; color: #;}
  .b2 {background-color: #214E34;border: 3px solid #; color: #;}
  .b3 {background-color: #FFA62B; border: 3px solid #; color: #;}
  .b4 {background-color: #DC851F; border: 3px solid #; color: #;}

  .ikon {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }

  .fa:hover {
      opacity: 0.7;
  }

  .fa-facebook {
    color: white;
  }

  .ikon1 {
    background: #9AB87A;
    color: white;
  }

  .ikon2 {
    background: #214E34;
    color: white;
  }

  .ikon3 {
    background: #FFA62B;
    color: white;
  }

  .ikon4 {
    background: #DC851F;
    color: white;
  }

  .typografi {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
  }
  .font-t1 {
    border: 3px solid #00454E;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    width: 15%;
  }

  .font-t2 {
    border: 3px solid #00454E;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 15%;
  }

  .font-t3 {
    border: 3px solid #00454E;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    width: 15%;
  }
  .font-s1 {
    border: 3px solid #00454E;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 15%;
  }

  .font-s2 {
    border: 3px solid #00454E;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 15%;
  }
  .font-s3 {
    border: 3px solid #00454E;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 15%;
  }

  .font-1 {
    border: 3px solid #00454E;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    font-family: "Segoe UI", Arial, sans-serif;
    width: 60%;
  }

  .font-2 {
    border: 3px solid #00454E;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    font-family: "Segoe UI", Arial, sans-serif;
    width: 60%;
  }

  .font-3 {
    border: 3px solid #00454E;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    font-family: "Segoe UI", Arial, sans-serif;
    width: 60%;
  }
