* {
  box-sizing: border-box;
}

body {
  text-align: center;
}

header {
  background-color: #214e32;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

nav {
  background-color: #9ab87a;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  height: 100%;
  width: 25%;
}

nav ul {
  list-style-type: none;
  padding: 5px;
  margin-top: 10px;
}

li a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 23px;
  color: white;
  display: block;
}

li {
  padding: 2%;
}

article {
  margin-left: 28%; /* Same as the width of the sidenav */
  font-size: 18px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

.farve {
  display: flex;
  flex-wrap: wrap;
}

.color-1 {
  background-color: #324376;
  color: #EAEAEA;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 25px;
  text-align: center;
  width: 19%;
}

.color-2 {
  background-color: #9ab87a;
  color: #EAEAEA;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 25px;
  text-align: center;
  width: 19%;
}

.color-3 {
  background-color: #214e34;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 25px;
  text-align: center;
  width: 19%;
}

.color-4 {
  background-color: #ffa62b;
  border: 5px solid black;
  color: #EAEAEA;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 25px;
  text-align: center;
  width: 19%;
}

.color-5 {
  background-color: #dc851f;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 25px;
  text-align: center;
  width: 19%;
}
