* {
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  text-align: left;
}

h2, h4 {
  text-align: left;
  font-size: 2vw;
}

header {
  background-color: #214e32;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

nav {
  background-color: #9ab87a;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  height: 100%;
  width: 25%;
}

nav ul {
  list-style-type: none;
  padding: 5px;
  margin-top: 10px;
}

li a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 23px;
  color: white;
  display: block;
}

li {
  padding: 2%;
}

article {
  margin-left: 28%; /* Same as the width of the sidenav */
  font-size: 18px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

section::after {
  content: "";
  display: table;
  clear: both;
}


.logo-stor {
  width: 46%;
  height: 47%;
}

.logo-lille {
  width: 45%;
  height: 45%;
}

.hvid {
  background-color: #214E34;
}

.farve {
  display: flex;
  flex-wrap: wrap;
}

.color-1 {
  background-color: #324376;
  color: #EAEAEA;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 25px;
  text-align: center;
  width: 19%;
}

.color-2 {
  background-color: #9ab87a;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 25px;
  text-align: center;
  width: 19%;
}

.color-3 {
  background-color: #214e34;
  border: 5px solid black;
  color: #EAEAEA;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 25px;
  text-align: center;
  width: 19%;
}

.color-4 {
  background-color: #ffa62b;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 25px;
  text-align: center;
  width: 19%;
}

.color-5 {
  background-color: #dc851f;
  border: 5px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  font-size: 25px;
  text-align: center;
  width: 19%;
}

.ikon-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #B8B8B8;
  border: 5px solid #8B8B8B;
  border-radius: 10px;

}

.ikon {
  display: flex;
}

.facebook {
  display: flex;
  padding: 1vw;
  margin: 1vw;
}

.pile {
  display: flex;
  padding: 1vw;
  margin: 1vw;
}

.telefon {
  display: flex;
  padding: 1vw;
  margin: 1vw;
}

.mail{
  display: flex;
  flex-direction: column;
  padding: 1vw;
  margin: 1vw;
}

.profil-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.profil {
  padding: 10px;
  margin: 10px;
}

.button {
  border-radius: 30px;
  color: #EAEAEA;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
  .b1 {background-color: #9AB87A; border: 3px solid #9AB87A; color: #;}
  .b2 {background-color: #214E34;border: 3px solid #214E34; color: #;}

.sbutton {
  border-radius: 15px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

  .b3 {background-color: #9AB87A; border: 3px solid #9AB87A; color: #; color: #3D3D3D;}
  .b4 {background-color: #214E34;border: 3px solid #214E34; color: #; color: #FFFFFF;}

  .typografi {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
  }
  .font-t1 {
    border: 3px solid #00454E;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    width: 15%;
  }

  .font-t2 {
    border: 3px solid #00454E;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 15%;
  }

  .font-t3 {
    border: 3px solid #00454E;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    width: 15%;
  }
  .font-s1 {
    border: 3px solid #00454E;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    width: 15%;
  }

  .font-s2 {
    border: 3px solid #00454E;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    width: 15%;
  }
  .font-s3 {
    border: 3px solid #00454E;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    width: 15%;
  }

  .font-1 {
    border: 3px solid #00454E;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
  }

  .font-2 {
    border: 3px solid #00454E;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
  }

  .font-3 {
    border: 3px solid #00454E;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
  }

.bubble-bokse {
  display: flex;
}

.bubble-boks-1 {
  background-color: #9AB87A;
  color: #FFFFFF;
  border-radius: 20px;
  width: 200px;
  padding: 5px;
  margin: 5px;
}

.bubble-boks-2 {
  background-color: #E4E4E4;
  color: #4D4D4D;
  border-radius: 20px;
  width: 200px;
  padding: 5px;
  margin: 5px;
}

.bubble-boks-3 {
  background-color: #E4E4E4;
  color: #324376;
  border-radius: 20px;
  width: 400px;
  padding: 5px;
  margin: 5px;
}

.illu-boks img {
  width: 300px;
}

.illu-stor img {
  width: 1000px;
}

.kode {
  display: flex;
  flex-direction: row;
  background-color:  #214E34;
  color: white;
}

.snippets-2-boks {
  text-align: left;
  overflow:  scroll;
  margin: 10px;
  width: 60%;
  height: 400px;
}

.snippets-3-boks {
  text-align: left;
  overflow:  scroll;
  margin: 10px;
  width: 35%;
  height: 400px;
}

  .nav {
    overflow: hidden;
    background-color: #324376;
    color: white;
  }

  .nav-left {
    display: flex;
    float: left;
  }

  .nav-left h1 {
    float: none;
    transform: translate(-50%, -50%);
     position: absolute;
    left: 50%;
    font-size: 30px;
    display: flex;
  }

  .nav-left img {
    height: 50px;
    width: auto;
    padding: 8px;
    margin: 10px;
  }

  .logo-nav {
    float: left;
  }

  .nav-right {
    float: right;
    display: flex;
    padding: 12px;
    margin: 8px;
    }

  .nav-right a {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
    text-decoration: none;
    color: white;
  }

  .active {
    background-color: white;
    border-radius: 12px;
    margin-bottom: -40px;
    margin-top: 2px;
  }
  .active b {
    color: black;
    margin: 12px;
    padding-left: 8px;
    padding-right: 7px;
    font-size: 15px;
  }

  .footer {
    background-color: #324376;
    width: auto;
    height: auto;
    text-align: center;
    margin: 10px;
    padding: 10px;
  }

  .footer img {
    top: 10px;
    height: 40px;
    width: auto;
  }

  .foot-kolonne {
    display: flex;
    text-align: left;
    color: white;
  }

  .kontakt {
    width: 300px;
    font-size: 10px;
  }


  .kontakt h1 {
    text-align:  center;
    font-size: 20px;
  }


  .foot-række {
    margin-left: 8%;
    margin-right: 8%;
  }

  .container {
    top: 50px;
    height: 700px;
    width: 1600px;
    position: relative;
    display: flex;
    left: 5%;
  }

  .stor-slide {
    border: 2px solid #707070;
    border-radius: 10px;
    height: 600px;
    width: 1000px;
    text-align: center;
  }

  .sslide{
    display: none;
  }

  .sslide img {
    width: 1000px;
    height: 600px;
    object-fit: cover;
  }

  .forrige,
  .næste {
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  .næste {
    right: 37%;
    border-radius: 3px 0 0 3px;
  }

  .forrige:hover,
  .næste:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .række {
    margin: 30px;
    border: 3px solid #707070;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    }

  .række:after {
      content: "";
      display: table;
      clear: both;
  }

  .kolonne {
    display:flex;
    float: left;
    width: 200px;
    height: 100px;
    margin: 10px;
  }

  .kolonne img {
    width: 200px;
    height: 100px;
  }

  .demo {
    opacity: 0.6;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }

  #program-tab-events {
    height: 2270px;
    width: 1270px;
    padding: 5px;
    padding-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px;
    border: 2px solid #E4E4E4;
  }

  #program-tab-events h1 {
    font-size: 40px;
    color: #324376;
  }

  .tab {
    margin-left: 2%;
  }

  .tablinks {
    width: 200px;
    height: 60px;
    background-color: #9AB87A;
    color: #3D3D3D;
    margin: 30px;
    border-radius: 20px;
    border: 0px;
    font-size: 20px;
    margin-bottom: -20px;
  }

  .tablinks.active {
    background-color: #214E34;
    color: #FFFFFF;
  }

  .gallery {
    border: 1px solid #ccc;
    float: left;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 15px;
    text-align: center;
  }

  .gallery:hover {
    border: 1px solid #777;
  }

  .gallery img {
    width: 300px;
    height: 300px;
    object-fit:  cover;
    object-position: 20% 10%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .desc {
    padding: 15px;
    text-align: center;
  }

  .desc p {
    font-size: 20px;
  }

  .kontakt-boks {
    width: 1000px;
    height: 600px;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 20px;
    margin-left: 10%;
    margin-right: 23%;
    border: 2px solid #E4E4E4;
    border-bottom: 5px solid  #E4E4E4;
    border-right: 5px solid  #E4E4E4;
  }

  .kontakt-tekst textarea {
    width: 960px;
    height: 560px;
    border-radius: 10px;
    border: 1px solid #E4E4E4;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .titel-boks {
    position: relative;
    background-color: #E4E4E4;
    width: 500px;
    height: 30px;
    border-radius: 60px;
    text-align:  center;
    margin-left: 20%;
    margin-bottom: -20px;
  }
