body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  overflow: hidden;
  background-color: #214E34;
  padding: 1%;
  color: white;
}

.nav-logo {
  float: left;
  width: 6%;
  height: 6%;
}

.navbar-left h1 {
  float: left;
  font-size: 40px;
}

.navbar-right{
  float: right;
  padding: 20px;
  margin: 20px;
}

.navbar-right a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  position:  absolute;
  display: flex;
  height: auto;
}

.slideshow {display: none;}
img {vertical-align: middle;}

.header-container {
  max-width: 1000px;
  left: 10%;
  height: 500px;
  position: relative;
  float: left;
}

.slideshow img {
  width: 100%;
  height: 500px;
}

.prev, .next {
  position: absolute;
  top: 0;
  height: 100%;
  width: auto;
  padding: 16px;
  color: black;
  transition: 0.6s ease;
  user-select: none;
}

.prev img, .next img {
  margin-top: 200px;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.mini-container {
  max-width: 400px;
  right: 10%;
  height: 300px;
  position: flex;
  float: right;
  display: flex;
  flex-direction: row;
}

.minislide img {
  width: 100%;
  height: 300px;
}

.prev2, .next2 {
  position: flex;
  top: 0;
  height: auto;
  width: auto;
  padding: 16px;
  color: black;
  transition: 0.6s ease;
  user-select: none;
}

.prev2 img, .next2 img {
  margin-top: 100px;
}

.next2 {
  top: 0;
}

.prev2 {
  bottom: 0;
}

.prev2:hover, .next2:hover {
  background-color: rgba(0,0,0,0.8);
}

.section {
  position: absolute;
}

.samtale {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: auto;
}
