body {
  font-family: Arial, Helvetica, sans-serif;
}

* h1 {
  font-size: 40px;
}

* p {
  font-size: 20px;
}

nav {
  overflow: hidden;
  background-color: #324376;
  color: white;
  border: 3px solid black;
}

.nav-left h1 {
  float: left;
  font-size: 40px;
  display: flex;
}

.logo {
  float: left;
  height: 6%;
  width: 6%;
}

.nav-right {
  float: right;
  display: flex;
  padding: 15px;
  margin: 10px;
  }

.nav-right a {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.container {
  height: 600px;
  width: auto;
}

.stor-slide {
  border: 3px solid black;
  height: 500px;
  width: 800px;
  padding: 10px;
  margin-top: 40px;
  margin-bottom: 40px;
  float: left;
  margin-left: 17%;
}

.preview-slide {
  border: 3px solid black;
  height: 200px;
  width: 300px;
  padding: 10px;
  margin-top: 40px;
  float: right;
  margin-right: 17%;
}

.negative-space {
  height: 80px;
  width: auto;

}

.punkter {
  display: flex;
  color: darkblue;
  margin-top: 80px;
}

.tekst {
  float: left;
  margin-left: 17%;
  margin-top: 10%;
}

.billed {
  float: right;
  margin-left: 17%;
  justify-content: center;
}

.billed img {
  height: 500px;
  width: auto;
}
